<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" href="{%static "css/new.css"%}">
  <link rel="stylesheet" href="{%static "css/bar.css"%}">

</head>
<h1 align="center" >COMPANY DATABASE INFORMATION</h1>

<title>COMPANY DB</title>
<body>
  <!-- <img src="{% static "images/seven.jpg" %}"> -->
  <!-- <img src="{%static "/images/two.jpg"%}" -->
  <!-- <a href="/customerapp/wish"> click here for wish them aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a> -->

<div class="topnav">
  <a class="active" href="/compreg">Home</a>
  <a href="/comp_tableinfo">Information</a>
  <!-- <a href="#contact">Edit</a>
  <a href="#about">Delete</a> -->
</div>

<div style="padding-left:16px">

  <p></p>
</div>

<center>
<h1>TABLE BASED VIEW</h1>
<hr size="7" noshade>
<title>COMPANY Info</title>
<body>

{% if comp_list %}
<table>
  <thead>
    <!-- <th>ID_No</th> -->
    <th>Company-Id</th>
    <th>Name</th>
    <th>City</th>
    <th>Zipcode</th>
    <th>Update(operation)</th>
    <th>Delete(operation)</th>
    </thead>
    {% for comp in comp_list %}
        <tr>
          <!-- <td> {{comp.id}}</td> -->
         <td> {{comp.cid}}</td>
        <td> {{comp.name}}</td>
        <td> {{comp.city}}</td>
        <td> {{comp.zipcode}}</td>
        <td><a href='/compupdate/{{comp.cid}}/'>Update</a></td>
        <td><a href='/compdelete/{{comp.cid}}/'>Delete</a></td>
      </tr>
    {% endfor %}
    </table>

  {% endif %}
</br>
<!-- <input type="submit" value="Edit">
<input type="submit" value="Delete"> -->
  </body>
</html>
