<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" href="{%static "css/new.css"%}">
  <link rel="stylesheet" href="{%static "css/bar.css"%}">
</head>
<h1 align="center" >CONTRACTOR DATABASE INFORMATION</h1>

<title>CONTRACTOR SUCESS</title>
<body>
  <!-- <img src="{% static "images/seven.jpg" %}"> -->
  <!-- <img src="{%static "/images/two.jpg"%}" -->
  <!-- <a href="/customerapp/wish"> click here for wish them aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a> -->

<div class="topnav">
  <a class="active" href="/contreg">Home</a>
  <a href="/cont_tableinfo">Information</a>
  <a href="#contact">Edit</a>
  <a href="#about">Delete</a>
</div>

<div style="padding-left:16px">

  <p></p>
</div>

<center>
<!-- <h1>CONTRACTOR Database Information</h1> -->

<!-- <title>COMPANY Info</title> -->
<body>
  <h1>Great!!</h1>
  <h2> your are sucessfully registered in our contractor Database</h2>r
  <h4>Now You are a Registered Member of our Contractor Company<h4>
  <h1>Thanks For Registration</h1>
</br>
<input type="submit" value="Edit">
<input type="submit" value="Delete">
  </body>
</html>
